.Paginations {
  display: flex;
  justify-content: space-between;
  width: 400px;

  align-items: center;
  margin: 0 auto;
}

.Paginations button {
  background-color: #3874ff;
  width: 80px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  font-size: 1 rem;
  cursor: pointer;
}

.Paginations p {
  border: 1px solid #3874ff;
  width: 25px;
  border-radius: 5px;
  text-align: center;
}

.disable {
  opacity: 0.5;
}

.selected {
  background-color: #3874ff;
}
